.Container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 15px;
  border-radius: 5px;
  border: 1px solid lightslategray;

  background-image: linear-gradient(
    to right top,
    #4d71a8,
    #3d6194,
    #2d5180,
    #1d426d,
    #09335b
  );

  box-shadow: 13px 19px 8px -4px rgba(65, 82, 96, 0.32);
  font-family: 'Jost', sans-serif;
}

.MainCont {
  padding: 0 15px;
}
